*{
    background-color: rgb(247, 208, 208);
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* .buttons{
    background-color: green;
    display: none;
} */
.btn{
    display: none;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0px 5px;
}

.output, .input{
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    color: #fff;
}
/* 
#label{
    font-size: 40px;
    text-align: center;
} */